@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Set a style for all buttons */
button {
    background-color: #2BABFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}

.title, .subTitle {
    background-color: #42ebf4;
    text-align: center;
    margin: auto;
}

.navbar {
    background-color: #00ffa1;
    text-align: center;
    margin: auto;
}

#createdRoomDivList {
    overflow-y: scroll;
    position: relative;
    height: 300px;
    width: 100%;
    margin: auto;
    border: 3px solid black;
    padding: auto 10px;
}

.createdRoomDiv {
    background-color: #52adce;
    overflow-y: scroll;
    height: 30px;
    width: 90%;
    cursor: pointer;
    border-radius: 7px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
}

.containerDiv {
    margin: auto;
    height: auto;
    width: 40%;
}