@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Full-width input fields */
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px inset #ccc;
    box-sizing: border-box;
}

body {
    background-image: url("images/createdrooms_bg.png");
    background-size: 110% 100%;
    overflow-x: hidden;
}

/* Set a style for all buttons */
button {
    background-color: #2BABFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    outline: none;
    border: none;
    cursor: pointer;
    width: auto;
    border: outset 3px #add6ff;
}

button:hover {
    opacity: 0.8;
}

#roomWindowButton {
    width: 100%;
}

.roomContainer {
    overflow:scroll;
    position: relative;
    padding: 16px;
}

.title, .subTitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    color: white;
}

.title {
    font-family: IceFont;
}

.mainContainer {
    background-color: white;
    border: 3px solid black;
}

.subContainer {
    margin: auto;
}

.createRoomButton {
    display: flex;
    cursor: pointer;
    background-color: #d9dde0;
    opacity: 0.1;
}

#plusRoom {
    width: 70px;
    height: 70px;
    align-self: center;
    margin: auto;
}

.createRoomButton:hover {
    opacity: 0.7;
}

#createdRoomDivList {
    overflow-y: scroll;
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: auto 10px;
}

.createdRoomDiv {
    background-color: #52adce;
    overflow: scroll;
    height: 50px;
    width: 90%;
    cursor: pointer;
    border-radius: 7px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
}

.roomDiv {
  margin: 30px;
}

.containerDiv {
    min-height: 100vh;
}

.container {
    position: relative;
    padding: 16px;
}

.delContainer {
    position: relative;
    text-align: center;
}

.delModalContent {
    background-color: white;
    width: 23%;
    font-size: 17px;
    border-radius: 5px;
}

.delConfirmChoices {
    width: 50%;
    height: 50px;
    line-height: 50px; /* To center align the text vertically */
    display: inline-block;
    cursor: pointer;
    color: white;
}

.delText {
    height: 100px;
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.delYes {
    float: left;
    background-color: lightgreen;
    border-bottom-left-radius: 5px;
}

.delNo {
    background-color: #fc8982;
    border-bottom-right-radius: 5px;
}

/* Style for the div holding the icons */
.roomIconsDiv {
    margin-left: auto;
    position: absolute;
    align-self: center;
    right: 8%;
    height: 0px;
    display: flex;
    visibility: hidden;
}

.createdRoomDiv:hover .roomIconsDiv {
    visibility: visible !important; /* Important so that hover still works after visibility dynamically set to hidden */
}

/* Style for the icons */
.roomDivIcons {
    align-self: center;
    width: 25px;
    height: 25px;
    padding: 3px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.roomModalContent {
    background-image: url("images/scroll_bg.png");
    background-size: 100% 100%;
    border: 1px solid #888;
    width: 645px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

h1, h2 {
    text-align: center;
    padding: 30px;
}

.roomThemeDiv {
    margin: auto;
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

#roomTheme {
    width: 100%;
    height: 100%;
    border: groove 8px grey;
}

.roomNameDiv {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.roomDescDiv {
    width: 80%;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
}

#roomDesc {
    height: 100%;
}

.sidePagePanel {
    text-align: center;
    padding: 10px;
    height: auto;
}

#editButton {
    padding: 14px 20px;
    margin: 8px 5%;
    float: right;
    width: 170px;
    border-radius: 10px;
    outline: none;
}

/* The default mode for buttons. */
.toggledOff {
    background-color: #2BABFF;
    color: white;
}

.toggledOn {
    border: outset 3px #adffbe;
    background-color: lightgreen;
    color: white;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for confirmation windows for screen widths less than 1200px */
@media screen and (max-width: 1200px) {
    .delYes {
        width: 100%;
        float: unset;
        border-bottom-left-radius: unset;
    }
    .delNo {
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .delModalContent {
        width: 250px;
    }
}

/* Change styles for room div icons for screen widths less than 600px */
@media screen and (max-width: 600px) {
    .roomIconsDiv {
        right: 10%;
    }
}

/* Change styles for create/edit window for screen widths less than 780px */
@media screen and (max-width: 780px) {
    .roomModalContent {
        width: 350px;
    }

    .roomNameDiv, .roomDescDiv {
        width: 280px;
    }
}



