@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("images/mainmenu_bg.png") center no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
}

.title, #greeting, .subTitle {
    text-align: center;
    margin: auto;
}

.title {
    font-family: IceFont;
    font-size: 50px;
    background-image: url("images/ice_title.png");
    opacity: 0.8;
    color: black;
    padding: 30px;
}

.logoDiv {
    margin: 30px auto 20px auto;
    width: 120px;
    height: 120px;
}

.logo {
    width: 100%;
    height: 100%;
}

#greeting {
    font-family: IceFont;
    font-size: 35px;
}

.subTitle {
    font-size: 30px;
    display: inline-block;
    width: 100%;
}

.popularRoomsDiv {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.roomImgDiv {
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color: black;
    outline: none;
    color: #e8f0fc;
    border: groove 8px grey;
}

.roomImg {
    height: 100%;
    width: 100%;
}

.row {
    text-align: center;
}

.containerDiv {
    min-height: 100vh;
}

.storyContainer {
    margin: 30px auto 300px auto;
    width: 70%;
}

.storyDiv {
    background-color: black;
    word-wrap: break-word;
    text-align: center;
    color: white;
    padding: 10px 30px;
    opacity: 0.5;
    height: 50vh;
    font-size: 20px;
    font-family: cursive;
    border: 8px double black;
    border-radius: 3px;
    overflow-y: scroll;
}

.storyDiv:hover {
    opacity: 0.85;
}

.buttonDiv {
    margin-top: 20px;
    padding: 0;
}

.takeOnButton {
    background-color: #333;
    color: #e8f0fc;
    display: inline-block;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    float: right;
    outline: none;
    font-size: 15px;
}

.takeOnButton:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

/* Change styles for storyDiv for screen widths less than 1200px */
@media screen and (min-width: 601px) and (max-width: 1200px){
    .storyContainer {
        width: 90%;
    }
}
