/* Set a style for all buttons */
button {
    background-color: #2BABFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}

.title, .subTitle {
    display: inline-block;
    width: 100%;
    background-color: #42ebf4;
    text-align: center;
    margin: auto;
}

.topThree {
  margin: 10px;
  float: left;
  background-color: #000000;
  float: left;
  outline: none;
    padding: 25px;
  transition: 0.3s;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  color: #e8f0fc;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  padding: 15px;
}

h1, h2 {
  text-align: center;
  padding: 30px;
}

.container {
  overflow: hidden;
  text-align: center;
}