@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #2BABFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.mainContainer {
    background-color: white;
    border: 3px solid black;
}

.subContainer {
    margin: auto;
}

.createPuzzleButton {
    display: flex;
    cursor: pointer;
    background-color: #d9dde0;
    opacity: 0.1;
}

#plusRoom {
    width: 70px;
    height: 70px;
    align-self: center;
    margin: auto;
}

.createPuzzleButton:hover {
    opacity: 0.7;
}

#puzzleDivList {
    overflow-y: scroll;
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: auto 10px;
}

.puzzleDiv {
    background-color: silver;
    overflow: scroll;
    height: 50px;
    width: 90%;
    cursor: pointer;
    border-radius: 7px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
}

/* Style for the div holding the icons */
.puzzleIconsDiv {
    margin-left: auto;
    position: absolute;
    align-self: center;
    right: 8%;
    height: 0px;
    display: flex;
    visibility: hidden;
}

.puzzleDiv:hover .puzzleIconsDiv {
    visibility: visible !important; /* Important so that hover still works after visibility dynamically set to hidden */
}

/* Style for the icons */
.puzzleDivIcons {
    align-self: center;
    width: 25px;
    height: 25px;
    padding: 3px;
}

#puzzleContainer {
    overflow:scroll;
}

#puzzleWindow {
    overflow-y: scroll;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.confirmContainer {
    position: relative;
    text-align: center;
}

.confirmModalContent {
    background-color: white;
    margin: 20% auto 15% auto; /* 20% from the top, 15% from the bottom and centered */
    width: 23%;
    font-size: 17px;
    border-radius: 5px;
}

.confirmChoices {
    width: 50%;
    height: 50px;
    line-height: 50px; /* To center align the text vertically */
    display: inline-block;
    cursor: pointer;
    color: white;
}

.confirmText {
    height: 100px;
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.confirmYes {
    float: left;
    background-color: lightgreen;
    border-bottom-left-radius: 5px;
}

.confirmNo {
    background-color: #fc8982;
    border-bottom-right-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    overflow-y: scroll;
}

/* The Close Button (x) */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    padding: 15px;
}

h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 30px;
}

.container {
    overflow: hidden;
    text-align: center;
    padding: 16px;
    position: relative;
}

.title, .subTitle {
    display: inline-block;
    width: 100%;
    background-color: #42ebf4;
    text-align: center;
    margin: auto;
}

.sidePagePanel {
    text-align: center;
    padding: 10px;
    height: auto;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for confirmation windows for screen widths less than 1200px */
@media screen and (max-width: 1200px) {
    .confirmYes {
        width: 100%;
        float: unset;
        border-bottom-left-radius: unset;
    }
    .confirmNo {
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .confirmModalContent {
        width: 250px;
    }
}

/* Change styles for confirmModalContent for screen widths less than 600px */
@media screen and (max-width: 600px) {
    .confirmModalContent {
        margin: 50% auto 15% auto; /* 50% from the top, 15% from the bottom and centered */
    }
}

/* Change styles for puzzle div icons for screen widths less than 600px */
@media screen and (max-width: 600px) {
    .puzzleIconsDiv {
        right: 10%;
    }
}