@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background-image: url("images/browse_bg.jp2");
  background-size: 110% 100%;
  overflow-x: hidden;
}

.title{
    font-family: IceFont;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    background-color: #212121;
    color: white;
}

.logoDiv {
    margin: 30px auto 20px auto;
    width: 120px;
    height: 120px;
}

.logo {
    width: 100%;
    height: 100%;
}

.logoContainerDiv{
  margin-top: 30px;
  text-align: center;
}

.subTitle {
    font-size: 33px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.containerDiv {
    min-height: 100vh;
}

.containerCenterDiv {
    border: 5px inset #536684;
    width: 70%;
    position: relative;
    margin: auto auto 40px auto;
}

.containerHeader {
    display: flex;
    position: relative;
    height: 50px;
    background-color: #242d3a;
    border: 5px inset #536684;
    align-items: center;
}

.searchDiv {
    position: absolute;
    top: unset;
    left: 2%;
    right: unset;
    color: white;
}

.searchLabel {
    display: inline-block;
}

#searchBar {
    margin-left: 5px;
}

.searchIconDiv {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.searchIcon {
    width: 100%;
    height: 100%;
}

.sortDiv {
    position: absolute;
    right: 2%;
    left: unset;
    bottom: unset;
    color: white;
}

.sortLabel {
    display: inline-block;
}

#sortBySelect {
    margin-left: 5px;
    outline: none;
}

#roomDivList {
    overflow: scroll;
    height: 600px;
    width: 100%;
    background-color: white;
}

.roomDiv {
    position: relative;
    max-height: 400px;
    padding: 30px 0px 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    word-wrap: break-word;
    background-color: white;
    border: 5px inset #536684;
    overflow-x: scroll;
}

.roomImgDiv {
    height: 200px;
    width: 200px;
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-right: 100px;
}

.roomImg {
    height: 100%;
    width: 100%;
    border: groove 5px grey;
}

.roomDescDiv {
    height: 200px;
    min-width: 90%;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    overflow-y: scroll;
    border: 3px solid black;
    background: #e3e7ed;
}

.roomNameDiv {
    text-align: center;
    height: auto;
    width: 200px;
    font-size: 20px;
    color: black;
    overflow-x: hidden;
}

.roomNameAndImg {
    min-width: 200px;
    max-width: 200px;
    overflow-x: hidden;
}

.roomSizeDiv {
    display: inline-block;
    height: auto;
    min-width: 90%;
    overflow-x: hidden;
}

.roomDescAndRoomSizeDiv {
    width: calc(100% - 200px);
    padding-left: 10%;
    overflow-x: hidden;
}

.container {
    overflow: hidden;
    text-align: center;
}

/* Hidden by default for non-mobile screens. */
.expandDescDiv {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #d9dde0;
    height: 100%;
    width: 12%;
    outline: none;
    opacity: 0.2;
    justify-content: center;
    align-items: center;
}

.expandDescIcon {
    width: 100%;
    height: 200px;
}

.expandDescDiv:hover {
    opacity: 0.7;
}

/* Change styles for roomDescAndRoomSizeDiv for screen widths less than 1300px. */
@media screen and (max-width: 1300px) {
    .roomDescAndRoomSizeDiv {
        min-width: 670px;
    }
}

/* Change styles for containerHeader and its contents for screen widths less than 900px. */
@media screen and (max-width: 900px) {
    .searchDiv {
        top: 5%;
    }

    .sortDiv {
        right: unset;
        left: 2%;
        bottom: 5%;
    }

    .containerHeader {
        height: 80px;
    }
}

/* Change styles for expandDescDiv and roomDescAndRoomSizeDiv for screen widths less than 600px. */
@media screen and (max-width: 600px) {
    .roomDescAndRoomSizeDiv {
        display: none;
    }

    .expandDescDiv {
        display: flex;
    }
}

/* Change styles for sortDiv for screen widths less than 500px. */
@media screen and (max-width: 500px) {
    .containerHeader {
        height: 120px;
    }

    .searchDiv {
        top: 0;
    }

    .sortLabel, .searchLabel {
        display: block;
        padding-left: 5px;
    }
}