@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.title, #greeting, .subTitle {
    text-align: center;
    margin: auto;
}

.title {
    font-family: IceFont;
    font-size: 50px;
    background-image: url("images/ice_title.png");
    opacity: 0.8;
    color: black;
    padding: 30px;
}

.firstContainerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    /*background-color: rgba(255, 255, 255, 1);*/
    background: url("images/home_cont1_bg.png") center no-repeat;
    background-size: cover;
}

.logoDiv {
    margin: 30px auto 20px auto;
    display: inline-block;
    height: 120px;
}

.logo {
    width: 120px;
    height: 120px;
}

#greeting {
    margin-top: -30px;
    display: inline-block;
    width: 100%;
    font-family: IceFont;
    font-size: 35px;
}

.secondContainerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-color: rgba(0, 255, 255, 1);
    background: url("images/valley-of-light-salat.jpg") center no-repeat;
    background-size: cover;
}

.roomInfo{
  color: white;
  font-weight: bold;
}

.subTitle {
    font-size: 30px;
    color: white;
    display: inline-block;
    width: 100%;
}

.roomImgDiv {
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color: black;
    outline: none;
    color: #e8f0fc;
    border: groove 8px grey;
}

.roomImg {
    height: 100%;
    width: 100%;
}

.containerDiv {
    background: rgb(51, 51, 51);
    min-height: 230vh;
}

.thirdContainerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-color: rgba(123, 0, 123, 1);
    background: url("images/iceCastle.jpg") center no-repeat;
    background-size: cover;
}

.storyContainer {
    display: inline-block;
    margin: 70px;
    width: 70%;
}

.storyDiv {
    background-color: black;
    word-wrap: break-word;
    text-align: center;
    color: white;
    padding: 10px 30px;
    opacity: 0.5;
    height: 60vh;
    font-size: 20px;
    font-family: cursive;
    border: 8px double black;
    border-radius: 3px;
    overflow-y: scroll;
}

.storyDiv:hover {
    opacity: 0.85;
}

.buttonDiv {
    margin-top: 20px;
    padding: 0;
}

.takeOnButton {
    background-color: #333;
    color: #e8f0fc;
    display: inline-block;
    padding: 14px 20px;
    border: outset 3px #add6ff;
    cursor: pointer;
    width: auto;
    float: right;
    outline: none;
    font-size: 15px;
}

.takeOnButton:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

/* Change styles for storyDiv for screen widths less than 1200px */
@media screen and (max-width: 1200px){
    .storyContainer {
        width: 90%;
    }
}

/* Change styles for roomImgDiv for screen widths less than 579px */
@media screen and (max-width: 579px){
    .roomImgDiv {
        height: 200px;
        width: 200px;
    }
}
