@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.title, #greeting, .subTitle {
    text-align: center;
    margin: auto;
}

.title {
    font-family: IceFont;
    font-size: 50px;
    background-image: url("images/ice_title.jp2");
    opacity: 0.8;
    color: black;
    padding: 30px;
}

.firstContainerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    background: url("images/home_cont1_bg.jp2") center no-repeat;
    background-size: cover;
}

.logoDiv {
    margin: 30px auto 20px auto;
    display: inline-block;
    height: 120px;
}

.logo {
    width: 120px;
    height: 120px;
}

#greeting {
    margin-top: -30px;
    display: inline-block;
    width: 100%;
    font-family: IceFont;
    font-size: 35px;
}

.secondContainerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-color: rgba(0, 255, 255, 1);
    background: url("images/home_cont2_bg.jp2") center no-repeat;
    background-size: cover;
}

.roomInfo{
  color: white;
  font-weight: bold;
}

.subTitle {
    font-size: 30px;
    color: white;
    display: inline-block;
    width: 100%;
}

.roomSlot {
    display: flex;
    justify-content: center;
    align-items: unset;
    flex-wrap: wrap;
    height: 490px;
    width: 290px;
}

.roomPrizeImgDiv {
    display: inline-block;
    height: 150px;
    width: 150px;
    outline: none;
    margin-bottom: 15px;
}

.roomImgDiv {
  display: inline-block;
  height: 250px;
  width: 250px;
  background-color: black;
  outline: none;
  color: #e8f0fc;
  border: groove 8px grey;
}

.roomImg, .roomPrizeImg {
    height: 100%;
    width: 100%;
}

.roomInfoContainer {
    width: 250px;
    height: 75px;
    word-wrap: break-word;
    table-layout: fixed;
}

.roomInfo {
    text-align: center;
}

.containerDiv {
    background: rgb(51, 51, 51);
    min-height: 230vh;
}

.thirdContainerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-color: rgba(123, 0, 123, 1);
    background: url("images/iceCastle.jp2") center no-repeat;
    background-size: cover;
}

.storyContainer {
    display: inline-block;
    margin: 70px;
    width: 70%;
}

.storyDiv {
    background-color: black;
    word-wrap: break-word;
    text-align: center;
    color: white;
    padding: 10px 30px;
    opacity: 0.5;
    height: 60vh;
    font-size: 20px;
    font-family: cursive;
    border: 8px double black;
    border-radius: 3px;
    overflow-y: scroll;
}

.storyDiv:hover {
    opacity: 0.85;
}

.buttonDiv {
    margin-top: 20px;
    padding: 0;
}

.takeOnButton {
    background-color: #333;
    color: #e8f0fc;
    display: inline-block;
    padding: 14px 20px;
    border: outset 3px #add6ff;
    cursor: pointer;
    width: auto;
    float: right;
    outline: none;
    font-size: 15px;
}

.takeOnButton:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

/* Change styles for roomSlot for screen widths less than 869px */
@media screen and (max-width: 869px){
    .roomPrizeImgDiv {
        margin: 0px 15px 0px 15px;
        padding-bottom: 50px;
        height: 200px;
    }
    .roomSlot {
        height: 325px;
        width: 430px;
        align-items: center;
        flex-wrap: nowrap;
    }
}

/* Change styles for roomSlot and its contents for screen widths less than 859px */
@media screen and (max-width: 859px){
    .roomPrizeImgDiv {
        height: 150px;
        width: 100px;
    }
    .roomImgDiv {
        height: 200px;
        width: 200px;
    }
    .roomInfoContainer {
        width: 200px;
        height: 75px;
    }
    .roomSlot {
        height: 275px;
        width: 330px;
        align-items: center;
        flex-wrap: nowrap;
    }
}

/* Change styles for roomInfoContainer and secondContainerDiv for screen widths less than 659px */
@media screen and (max-width: 659px){
    .roomInfoContainer {
        width: 200px;
        height: 50px;
    }
    .secondContainerDiv {
        height: 870px;
    }
}

/* Change styles for storyContainer for screen widths less than 600px. */
@media screen and (max-width: 600px) {
    .storyContainer {
        margin: 70px 0px 70px 0px;
        width: 350px;
    }
}
