@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pageTitle {
    font-family: IceFont;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    background-color: #212121;
    color: white;
}

.containerDiv {
    min-height: 70vh;
}