@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Full-width input fields */
input[type=email], input[type=password], input[type=text] {
    vertical-align: middle;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px inset #ccc;
    background-color: Black;
    color: White;
    box-sizing: border-box;
}

body{
  background-image: url("images/IceCaveEntrance.jpg");
  background-size: 110% 100%;
  overflow-x: hidden;
}

/* Set a style for all buttons */
button {
    background-color: #2BABFF;
    color: white;
    padding: 14px 50px;
    border: outset 3px #add6ff;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}

.title{
    font-family: IceFont;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: white;
    background-color: #212121;
}

.logoDiv {
    margin: 30px auto 20px auto;
    width: 120px;
    height: 120px;
}

.logo {
    width: 100%;
    height: 100%;
}

.logoContainerDiv{
    margin-top: 30px;
    text-align: center;
}

.containerDiv {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.containerContent {
    height: 600px;
    width: 40%;
    background-color: white;
    border: 5px inset #536684;
}

#containerContentTitle {
    font-family: IceFont;
    font-size: 50px;
    color: #2a8ddd;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

.contentField {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 8%;
    width: 100%;
}

.fieldsContainer {
    margin: 15px 0px;
}

.editFieldLink {
    color: #2d77ef;
    cursor: pointer;
}

.editFieldLink:hover {
    color: black;
    text-decoration: underline;
}

.currentLabel {
    display: block;
    width: 100%;
}

/* Ids instead of a common class because input tag has precedence over class. */
#currentUsername, #currentEmail {
    display: block;
    vertical-align: middle;
    height: 50px;
    width: 60%;
    color: #6f7277;
    background-color: white;
    font-size: 18px;
    padding: 0;
    border: none;
    border-bottom: 1px inset #ccc;
    box-sizing: border-box;

}

.popUpContainer {
    position: relative;
    padding-top: 8%;
    padding-bottom: 10%;
    text-align: center;
    height: auto;
}

/* The Modal (background) */
.popUpModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popUpModalContent {
    background-size: 100% 100%;
    background-image: url(images/snowing.gif);
    border: 1px solid #888;
    width: 590px; /* Could be more or less, depending on screen size */
    height: auto;
    text-align: center;
}

/* The Close Button (x) */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.fieldLabels {
    font-family: IceFont;
    font-size: 50px;
    color: #2a8ddd;
    margin-bottom: 40px;
}

.popUpButtonsDiv {
    margin-top: 30px;
    width: 75%;
    display: inline-block;
}

.popUpButton {
    white-space: nowrap;
    width: 100%;
    height: 50px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0px;
    border: outset 3px #add6ff;
}

.cancelButton {
    background-color: #f44336;
    border: outset 3px #ffadad;
}

.delContainer {
    position: relative;
    text-align: center;
}

.delModalContent {
    background-color: white;
    width: 23%;
    font-size: 17px;
    border-radius: 5px;
}

.delConfirmChoices {
    width: 50%;
    height: 50px;
    line-height: 50px; /* To center align the text vertically */
    display: inline-block;
    cursor: pointer;
    color: white;
}

.delText {
    height: 100px;
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.delYes {
    float: left;
    background-color: lightgreen;
    border-bottom-left-radius: 5px;
}

.delNo {
    background-color: #fc8982;
    border-bottom-right-radius: 5px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for confirmation windows for screen widths less than 1200px */
@media screen and (max-width: 1200px) {
    .delYes {
        width: 100%;
        float: unset;
        border-bottom-left-radius: unset;
    }
    .delNo {
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .delModalContent {
        width: 250px;
    }
}

/* Change styles for containerContent for screen widths less than 1025px. */
@media screen and (max-width: 1025px) {
    .containerContent {
        width: 350px;
    }
}
