@font-face {
    font-family: 'IceFont';
    src: url('images/CFGrandNord-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("images/createdrooms_bg.jp2");
    background-size: 110% 100%;
    overflow-x: hidden;
}

/* Full-width input fields */
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px inset #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #2BABFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: outset 3px #add6ff;
}

button:hover {
    opacity: 0.8;
}

.mainContainer {
    background-color: white;
    border: 5px inset #536684;
}

.subContainer {
    margin: auto;
}

.createPuzzleButtonCol, #createPuzzleButtonRow {
    display: flex;
    cursor: pointer;
    background-color: #d9dde0;
    opacity: 0.1;
    justify-content: center;
    align-items: center;
}

/* Hidden by default for non-mobile screens. */
/* An id instead of class to override display attribute from 'row' class, since even !important does not work */
#createPuzzleButtonRow {
    display: none;
}

.plusRoom {
    width: 75px;
    height: auto;
}

.createPuzzleButtonCol:hover {
    opacity: 0.7;
}

#createPuzzleButtonRow:hover {
    opacity: 0.7;
}

#puzzleDivList {
    overflow-y: scroll;
    position: relative;
    height: 500px;
    width: 100%;
    margin: auto;
    padding: auto 10px;
}

.puzzleDiv {
    background-color: silver;
    overflow: scroll;
    height: 50px;
    width: 90%;
    cursor: pointer;
    border-radius: 7px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
}

/* Style for the div holding the icons */
.puzzleIconsDiv {
    margin-left: auto;
    position: absolute;
    align-self: center;
    right: 8%;
    height: 0px;
    display: flex;
    visibility: hidden;
}

.puzzleDiv:hover .puzzleIconsDiv {
    visibility: visible !important; /* Important so that hover still works after visibility dynamically set to hidden */
}

/* Style for the icons */
.puzzleDivIcons {
    align-self: center;
    width: 25px;
    height: 25px;
    padding: 3px;
}

#puzzleContainer {
    height: 68vh;
    overflow-y:scroll;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.confirmContainer {
    position: relative;
    text-align: center;
}

.confirmModalContent {
    background-color: white;
    width: 23%;
    font-size: 17px;
    border-radius: 5px;
}

.confirmChoices {
    width: 50%;
    height: 50px;
    line-height: 50px; /* To center align the text vertically */
    display: inline-block;
    cursor: pointer;
    color: white;
}

.confirmText {
    height: 100px;
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.confirmYes {
    float: left;
    background-color: lightgreen;
    border-bottom-left-radius: 5px;
}

.confirmNo {
    background-color: #fc8982;
    border-bottom-right-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.puzzleModalContent {
    background-image: url("images/scroll_bg.jp2");
    background-size: 100% 100%;
    border: 1px solid #888;
    width: 800px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.puzzleWindowClose {
    position: relative;
    float: right;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.containerDiv {
    overflow-x: hidden;
    min-height: 100vh;
}

.puzzleContainer {
    overflow:scroll;
    position: relative;
    padding: 16px;
}

.title, .subTitle {
    text-align: center;
    margin: auto;
    color: white;
}

.title {
    font-family: IceFont;
    font-size: 50px;
    padding: 30px;
    background-color: #212121;
}

.logoDiv {
    margin: 30px auto 20px auto;
    width: 120px;
    height: 120px;
}

.logo {
    width: 100%;
    height: 100%;
}

.subTitle {
    font-size: 33px;
    margin-bottom: 30px;
}

.sidePagePanel {
    text-align: center;
    padding: 10px;
    height: auto;
}

.fieldToggle {
    cursor: pointer;
}

#questionField, #leftTransition, #rightTransition {
    height: 150px;
    margin-bottom: 8px;
}

#question {
    height: 100%;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for confirmation windows for screen widths less than 1200px */
@media screen and (max-width: 1200px) {
    .confirmYes {
        width: 100%;
        float: unset;
        border-bottom-left-radius: unset;
    }
    .confirmNo {
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .confirmModalContent {
        width: 250px;
    }
}

/* Change styles for puzzle div icons for screen widths less than 600px */
@media screen and (max-width: 600px) {
    .puzzleIconsDiv {
        right: 10%;
    }

    .puzzleModalContent {
        width: 350px;
    }
}

/* Change styles for create/edit window for screen widths between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px){
    .puzzleModalContent {
        width: 550px;
    }
}

/* Change styles for plus icon div for screen widths less than 1000px */
@media screen and (max-width: 1000px) {
    #createPuzzleButtonRow {
        display: flex;
    }

    .createPuzzleButtonCol {
        display: none;
    }

    .plusRoom {
        margin: 20px auto;
    }
}